* {
  margin: 0;
  padding: 0;
  border: 0;
}


body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #808080;
  background-color: lightgrey;
}

button {
  background-color: #2db3b3;
  color: #ffff;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: 100%;
}

header {
  display: block;
  background-color: #ffff;
}

.header-wrap {
  display: flex;
  flex-flow: column wrap;
}

.section_block {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.section_block div {
  display: flex;
  flex-basis: 50%;
}

.section_block div {
  flex-direction: column;
}


.h1 {
  font-size: 2em;
  font-weight: 300;
}

.section-1th,
.section-4th {
  background-color: rgb(118, 205, 216);
  color: #ffff;
  justify-content: center;
  align-items: center;
}

.section_heading {
  color: #76cdd8;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.section-2th {
  margin: auto;
  white-space: pre;
  justify-content: center;
  align-items: center;
}

.section-3th,
.section-6th {
  max-width: 100%;
  justify-content: center;
  white-space: pre;
}

.section-3th p,
.section-6th p {
  align-items: flex-start;
  margin-left: 17%;
}

.section-3th button {
  align-self: flex-end;
  margin-right: 100px;
  margin-top: 1em;
}

.section_img_circle {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section-4th p {
  margin-top: 1.2em;
}

a {
  text-decoration: none;
}

.section-6th button {
  align-self: center;
  margin-top: 1em;
}

.main-wrap {
  display: flex;
  background-color: #ffff;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  height: 112vh;
}

.main_section_text {
  display: flex;
  flex-basis: 65%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5% 5%;
}

.main_section_text button {
  align-self: flex-end;
}

.main_image_container {
  flex-basis: 35%;
}

ul {
  white-space: pre-line;
  list-style-type: none;
}

.section-plans {
  height: 95vh;
  max-width: 100%;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.plan_img_full {
  height: 100%;
}

.plan-container {
  border: 2px solid #2db3b3;
  width: 27%;

}

.plan_header {
  text-align: center;
  padding: 1.8em;
  align-content: center;
  background-color: #2db3b3;
  color: #ffff;
}

.plan_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
}

.plan_header_heading {
  font-size: 1.3em;
}

.plan_main button {
  margin-top: 1em;

  align-self: center;
}

.plan-container:last-child {
  margin-right: 2em;
}

.footer-header {
  background-color: #24d4d4;
  width: 100vw;
  height: 17vh;
  display: block;
  color: white;
  font-size: 1.3em;
  z-index: -1;
}

.footer_header_heading {
  margin-left: 15%;
  padding-top: 2%;
}

.footer-main {
  background-color: white;
  height: 400px;
  margin: -3% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_main_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;

}

.footer_main_textfield {
  height: 125px;
  width: 300px;
}

textarea {
  border: 1px solid lightgrey;
  width: 100%;
  height: 100%;
  padding: 0.8em;
}

input {
  border: 1px solid lightgrey;
  width: 300px;
  height: 40px;
  text-align: left;
  padding-left: 1em;
}

.footer_main_button {
  align-self: center;
  margin-top: 2em;
}

.footer-footer {
  z-index: -1;
  background-color: #2db3b3;
  height: 40vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: white;
}

.footer_footer_section {
  position: relative;
  margin-top: 60px;
  width: 220px;
}

.footer_footer_heading {
  font-weight: 500;
  font-size: 1.3em;
}