body {
  padding: 0;
  margin: 0 0 5vh;
}

header {
  display: flex;
  background-color: black;
  height: 15vh;
  text-transform: capitalize;
  color: white;
  font-weight: 700;
  font-size: 1.8em;
  justify-content: center;
}

main {
  margin: 3em 13em 0;
}

.main-header {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(1, auto);
  justify-content: space-around;
  font-weight: 600;
  margin-bottom: 2em;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 15px; 
  justify-content: center;
}

.main-container div {
  display: flex;
  background-color: rgb(226, 226, 226);
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(226, 226, 226);
}

.main-container div:nth-child(-n+4) {
  background-color: white;
}