@media print {
    body {
        padding: 0px;
        margin: 0px;
        line-height: 1.4;
    }

    .container {
        float: inline-end;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .tm-main-nav {
        display: none;
    }

    .tm-team-img {
        display: none;
    }

    #about {
        display: none;
    }

    .gallery-container {
        display: none;
    }

    .img-contact-us {
        display: none;
    }

    #contact {
        display: none;
    }

    .tm-content-box {
        margin-bottom: 0px
    }

    .tm-banner {
        padding: 0px;
    }

    .tm-section-title {
        margin-bottom: 0px;
        padding: 0px;
    }

    .padding-medium {
        padding: 0px;
        text-align: center;
    }

    .carousel-indicators {
        display: none;
    }

    .tm-team-description-container {
        max-width: 100%;
    }

    ol {

        list-style-type: none;

    }

    li {
        list-style-type: none;
        float: left;
        width: 50%;
        padding-bottom: 10px;
    }

    section:before {
        display: none;
    }

    .text::after {
        display: none;
    }

}

.tm-main-nav,
.tm-content-box,
.blocks {
    box-shadow: 1px 1px 8px rgba(61, 55, 61, 0.7)
}

.tm-nav-item:hover {
    background-color: lightskyblue;
    color: #fff;
}

.tm-banner-inner {
    background-color: white;
    letter-spacing: .3rem;
    word-spacing: .3rem;
}

.tm-banner {
    box-shadow: 0px 0px 5px 5px rgba(119, 136, 153, 0.7);
    background: linear-gradient(burlywood, lightskyblue);
}

.tm-banner-text {
    text-shadow: 0.5px 4px lightskyblue;
    animation-name: anime;
    animation-duration: 4s;
}

@keyframes anime {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.heading h2 {
    color: lightskyblue;
}

.tm-content-box.flex-2-col {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.tm-section-title-box:hover {
    background-color: lightskyblue;
    color: #fff;
}

.padding-medium h2 {
    text-align: center;
}

ol {
    list-style-type: decimal-leading-zero;
}

ol a:hover {
    color: red;
}

ol a:hover::before {
    content: ">";
}

.text::after {
    content: "New";
    color: red;
    vertical-align: super;
    font-size: small;
}

p:first-of-type {
    font-style: italic;
    line-height: 30px;
}

p::first-line {
    text-indent: 15px;
}

.box-work {
    padding: 10px;
}

ul .box-work:nth-child(2n) {
    background-color: lightskyblue;
    color: #fff;
}

ul p::first-letter {
    font-weight: bold;
    mix-blend-mode: difference;
}

#contact>h2 {
    text-align: right;
}

section:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: lightskyblue transparent transparent transparent
}

#contact_name,
#contact_email,
#contact_subject {
    border: none;
    border-bottom: 2px solid lightskyblue;
}

#contact_name:focus {
    background-color: #00b3b3;
}

#contact_email:focus {
    background-color: #00b3b3;
}

#contact_subject:focus {
    background-color: #00b3b3;
}

#contact_subject {
    background: url("../img/email-icon.png") no-repeat 99% 1px;
    background-size: auto 90%;
}

.btn {
    float: right;
    background: white;
    border-radius: 0%;
    border-color: lightskyblue;
    border-width: 1px;
    color: lightskyblue;
}

.btn:hover {
    background-color: #00b3b3;
    border-color: white;
}
