﻿* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-image: url("/assets/img/header-bg.jpg");
  /* max-width: 100%;
  height: 100%;
  display: block; */
  height: 500px;
  background-size: cover;
  color: white;
}

nav {
  background-image: url("/assets/img/header-bg.jpg");
  background-size: cover;
}

a {
  color: white;
}

main {
  background-color: white;
}
.header-heading {
  padding-top: 200px;
  font-weight: bold;
}

.features_heading {
  margin-top: 3.5em;
}
.features_heading p {
  color: grey;
  font-size: 1.4em;
}

h3 {
  font-weight: bold;
  text-transform: capitalize;
}

hr {
  width: 2.5em;
  background-color: black;
  margin: 0 auto;
}

.features_main {
  margin-top: 4.375em;
}

.features_main div {
  flex-direction: column;
}

.feature_text {
  color: gray;
  font-weight: 200;
}

.feature_name {
  color: gray;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
}

.btn {
  margin: 3em auto;
  background: url("/assets/img/touch-bg.png") no-repeat;
  width: 300px;
  height: 70px;
  text-transform: uppercase;
  color: white;
}

.work-section {
  background-color: rgba(211, 211, 211, 0.521);
}

.work-title{
  color: grey;
  font-size: 1.4em;
}

.references-text {
  color: gray;
  font-weight: 200;
}

.references-image-bg {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  margin-left: 80px;
  margin-top: 130px;
}

.contact-section {
  color: white;
  background-color: black;
  font-size: 1.4em;
}
.contact-title {
  padding-top: 6em;
}

.contact-hr {
  background-color:lightgray;
  width: 3em;
}




